

body{margin:0;padding:0;color:#292929;font-family:Arial,Helvetica,sans-serif;font-size:81.25%;-webkit-font-smoothing:antialiased;font-smoothing:antialiased}nav,header,footer,section,aside,hgroup{display:block}






ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:decimal}dt{margin:0;padding:0}dd{margin:0 0 0 1.8em}
p{margin:.5em 0}strong{font-weight:bold}








accessAid{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);




padding:0!important;border:0!important;height:1px!important;width:1px!important;overflow:hidden}.hide{display:none}.




gblHeader{background-color:#fafafa}.gblHeader .skip{position:relative}.gblHeader .skip a{position:absolute;top:-99999px;padding:5px}.







gblHeader .utility.in{height:47px}.gblHeader .utility.in .wrapper{margin:0 auto;overflow:visible;width:988px}.gblHeader .logo{float:left;margin:15px 0 0 23px}.


















